{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h4>Описание</h4>
Информация о загруженности тг запрашивается каждые 6 минут <br>

{{=A("Страница добавления тг", _href=URL('tgmonitor','default','config'), _class='abc',  _style='margin-top: 1em;')}}
<br>
Навигация в верху страниц.
в ней поле <b>Alarm</b> отвечает за отправку аварийных сообщений на указанный e-mail адресс, указанный в поле <b>Alarm Email</b>
<b>Alarm</b> измеряется в процентах, то есть 90 означает отослать сообщение при загруженности более 90 %.
<br>
Для добавления ТГ для мониторинга необходимо авторизоваться login test , passwd test. 
<br>
Поле <b>Group</b> возможные значения group1, group2, group3 .. group6 , отвечает за группировку загруженности тг, на графиках загруженности
<br>
{{=A("Monitor", _href=URL('tgmonitor','default','monitor'), _class='abc',  _style='margin-top: 1em;')}}

<br>
e-mail имеет следующий вид <br>
<ul>
<li>Здравствуйте 
<li>
 <li>Alarm for tg 44 Teleros_nig
 <li>Alarm % 10
 <li>details https://192.168.9.191/tgmonitor/default/monitor
 <li>Busy/Installed  301.0/464.0
    </ul>

<br>
горизонтально загруженость в процентах<br>
вертикально часы<br>

таблица tg_load - значение измеренных значений загруженности тг.
Внизу таблицы экспорт в csv формат.

<ol>Поиск необходимых запискей:
<li>например tg_number = '44' в строке поиска
<li>составление условий поиска
</ol>

в базе сохраняются данные за последние 3 дня <br>
картинки дневной загруженности обновляются в 23:59 каждого дня <br>


<hr> 
в опере не обновляются диаграммы загруженности<br>
Загруженность за последние 4 часа
{{=A('за последние 4 часа', _href=URL('tgmonitor', 'default', 'monitor4'), _class='abc',)}} <br>
Добавлена таблица Group Description содержащая описание поля group табл tg_list
{{=A('Group description', _href=URL('tgmonitor', 'default', 'description'), _class='abc')}} <br>
Для TGload сортировка в обратном порядке. (верхняя запись последняя)<br>

6 групп и максимальное количество тг в группе =6 (по количеству возможных цветов)
<hr>
TGs load  
{{=sqlgrid}}
